<div class="m-10">
  <h2 class="font-bold text-center text-4xl uppercase mb-10">
    Modify Customer
  </h2>
  <form action="#">
    <label class="font-bold w-10 w-20 inline-block" for="name">NAME: </label>
    <input
      class="border border-black p-1 mb-5"
      type="text"
      name="name"
      id="name"
      placeholder="Name"
      [(ngModel)]="customer.name"
    /><br />
    <label class="font-bold w-20 inline-block" for="name">WORK: </label>
    <input
      class="border border-black p-1 mb-5"
      type="text"
      name="work"
      id="work"
      placeholder="Work"
      [(ngModel)]="customer.work"
    /><br />

    <input
      class="bg-blue-400 font-bold px-10 py-3 text-center cursor-pointer"
      type="submit"
      value="Send"
      (click)="modifyCustomer()"
    />
  </form>
</div>
